// =============================================================================
// =Typical - Typescale
// =============================================================================

@import "aleksi/maps/depth";
@import "typical/defaults";

$_typical-typescale: () !default;

// get-typescale-size($size[, $font ])
// -----------------------------------------------------------------------------

@function get-typescale-size($size, $font: null)
{
  // 1. GET TYPESCALE TABLE TO USE
  // default to global typescale
  $_typescale: $_typical-typescale;

  // get font's dedicated typescale if any
  @if $font and map-depth($typescale) > 1
    and map-has-key($typescale, $font)
  {
    $_typescale: map-merge($_typical-typescale, map-get($typescale, $font);
  }

  // 2. GET FONT-SIZE FROM TYPESCALE TABLE

  $fs: map-get($typescale, $size);

}



