// =============================================================================
// =Typical - Setup Typescale Table
// =============================================================================

@import "sassy-maps";
@import "aleksi/general/default-to";
@import "typical/helpers/typeface";
@import "typical/defaults";

// typical-setup-fonts([ $table ])
// -----------------------------------------------------------------------------
/// Analyzes $fonts global, and calculates missing settings for each font

@function typical-setup-fonts($table: $fonts)
{
  $res: ();

  @each $font in map-keys($table)
  {
    $settings: typical-setup-font-settings($font);
    $res: map-set($res, $font, $settings);
  }

  @return $res;
}

// typical-setup-font-settings( $font )
// -----------------------------------------------------------------------------
/// Analyzes $fonts global, and calculates missing values for each font

@function typical-setup-font-settings($font)
{
  // get font settings and inject general defaults
  $settings: map-merge((
    'path': './fonts/<name>-<s><w>',
    'min-line-gap': 0
  ), map-get($fonts, $font));

  $base-fs: if(variable-exists('base-font-size'), $base-font-size, 16px);
  $base-lh: if(variable-exists('base-line-height'), $base-line-height, 1.5);

  // Add computed defaults for special settings
  @if not map-has-key($settings, 'base-font-size') {
    $fs-adjust: default-to(map-get($settings, 'font-size-adjust'), 1);
    $settings: map-set($settings, 'base-font-size', $base-fs * $fs-adjust);
  }

  @if not map-has-key($settings, 'base-line-height') {
    $lh-adjust: default-to(map-get($settings, 'base-line-height-adjust'), 1);
    $settings: map-set($settings, 'base-line-height', $base-lh * $lh-adjust);
  }

  @if not map-has-key($settings, 'font-size-adjust') {
    $fs-adjust: map-get($settings, 'base-font-size') / $base-fs;
    $settings: map-set($settings, 'font-size-adjust', $fs-adjust);
  }

  @if not map-has-key($settings, 'line-height-adjust') {
    $lh-adjust: map-get($settings, 'base-line-height') / $base-lh;
    $settings: map-set($settings, 'line-height-adjust', $lh-adjust);
  }

  // Process expandable settings
  @if map-has-key($settings, 'faces') {
    $font-faces: typical-typeface-expand(map-get($settings, 'faces'));
    $settings: map-set($settings, 'faces', $font-faces);
  }

  @return $settings;
}

// Fonts
// -----------------------------------------------------------------------------
// Setup/expand global fonts table used internally

$_typical-fonts: typical-setup-fonts();